<p>I want to...</p>
<ul>
  <li>Be able to add receipts by hand.</li>
  <ul>
    <li>Must have a store.</li>
    <li>Can have line items.</li>
    <li>Owned by a user. (later)</li>
  </ul>
  <li>Be able to batch add receipts from a CSV.</li>
  <ul>
    <li>
      Should try to autodetect store based on a unique field in the record.<br/>
      If multiple stores are found, either don't assign one or offer options to user.
    </li>
    <li>User will go back and fill in line items after upload.</li>
  </ul>
  <li>Be able to edit receipts and add line items to them.</li>
  <li>Be able to assign a product to a line item.</li>
  <li>Be able to assign a store to a receipt or add a new one.</li>
  <li>Be able to add a location to a store.</li>
  <li>Be able to select or create discount cards for stores as an admin user.</li>
  <li>Be able to suggest discount cards as a user.</li>
  <li>Be able to assign a discount card to a store as an admin user.</li>
  <li>Be able to add vendors as an admin user.</li>
  <li>Be able to assign products to a vendor as an admin user.</li>
  <li>Be able to suggest products as a user.</li>
  <li>Be able to sugget vendors as a user.</li>
  <li>Be able to add categories as an admin user.</li>
  <li>Be able to add descriptors to locations, categories, products, vendors, and stores.</li>
</ul>

<%= link_to "Dashboard", root_path %>
