<div style="margin-left:20px">
  <div class="header">
    New Receipt #<%= @receipt.id %>
  </div>
  <%= render 'form', receipt: @receipt %>
  <%= link_to 'Receipts', receipts_path, class:"green pill" %><br/>
  <%= link_to 'Dashboard', root_path, class:"red pill" %>
</div>
